obj/Debug/APIWeb.csproj.FileListAbsolute.txt
obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
obj/Debug/TempPE/Service References.HorizonServiceDevo.Reference.cs.dll
obj/Debug/TempPE/Service References.HorizonServiceDevo.Reference1.cs.dll
obj/Debug/TempPE/Service References.HorizonServiceDevoAPI.Reference.cs.dll
obj/Debug/TempPE/Service References.HorizonServiceDevoAPI.Reference1.cs.dll
obj/Debug/TempPE/Service References.HorizonServiceLive_NoWWW.Reference.cs.dll
obj/Debug/TempPE/Service References.HorizonServiceLive_NoWWW.Reference1.cs.dll
obj/Debug/TempPE/Service References.HorizonServiceLiveAPI.Reference.cs.dll
obj/Debug/TempPE/Service References.HorizonServiceLiveAPI.Reference1.cs.dll
obj/Debug/TempPE/Service References.HorizonServicePreview.Reference.cs.dll
obj/Debug/TempPE/Service References.HorizonServicePreview.Reference1.cs.dll
obj/Debug/TempPE/Service References.HorizonServiceWWW.Reference.cs.dll
obj/Debug/TempPE/Service References.HorizonServiceWWW.Reference1.cs.dll
obj/Debug/TempPE/Service References.localhostHorizonService.Reference1.cs.dll
obj/Debug/TestHorizonWebService.dll
obj/Debug/TestHorizonWebService.pdb
bin/TestHorizonWebService.dll
bin/TestHorizonWebService.pdb
