<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <system.web>
        <compilation debug="true" targetFramework="4.0" />
    </system.web>

    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="HorizonServiceSoap">
                    <security mode="Transport" />
                </binding>
                <binding name="HorizonServiceSoap1" />
                <binding name="HorizonServiceSoap2" />
                <binding name="HorizonServiceSoap3">
                    <security mode="Transport" />
                </binding>
                <binding name="HorizonServiceSoap4" />
                <binding name="HorizonServiceSoap5">
                    <security mode="Transport" />
                </binding>
                <binding name="HorizonServiceSoap6" />
                <binding name="HorizonServiceSoap7" />
                <binding name="HorizonServiceSoap8">
                    <security mode="Transport" />
                </binding>
                <binding name="HorizonServiceSoap9" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://hspp1-3a.ecin1devo1wpp3.com/ws/HorizonService.asmx"
                binding="basicHttpBinding" bindingConfiguration="HorizonServiceSoap"
                contract="HorizonServiceDevo.HorizonServiceSoap" name="HorizonServiceSoap" />
            <endpoint address="http://apidev.horizonparts.com/ws/horizonservice.asmx"
                binding="basicHttpBinding" bindingConfiguration="HorizonServiceSoap2"
                contract="HorizonServiceDevoAPI.HorizonServiceSoap" name="HorizonServiceSoap1" />
            <endpoint address="https://horizonparts.com/ws/HorizonService.asmx"
                binding="basicHttpBinding" bindingConfiguration="HorizonServiceSoap3"
                contract="HorizonServiceLive_NoWWW.HorizonServiceSoap" name="HorizonServiceSoap2" />
            <endpoint address="https://api.horizonparts.com/ws/horizonservice.asmx"
                binding="basicHttpBinding" bindingConfiguration="HorizonServiceSoap5"
                contract="HorizonServiceLiveAPI.HorizonServiceSoap" name="HorizonServiceSoap3" />
            <endpoint address="http://preview.horizonparts.com/ws/HorizonService.asmx"
                binding="basicHttpBinding" bindingConfiguration="HorizonServiceSoap7"
                contract="HorizonServicePreview.HorizonServiceSoap" name="HorizonServiceSoap4" />
            <endpoint address="https://www.horizonparts.com/ws/HorizonService.asmx"
                binding="basicHttpBinding" bindingConfiguration="HorizonServiceSoap8"
                contract="HorizonServiceWWW.HorizonServiceSoap" name="HorizonServiceSoap5" />
        </client>
    </system.serviceModel>
</configuration>
